<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
</head>
<body>
<div>
    <ul>
        <li class="nav-item"><a href="/main/" class="nav-link">Основная</a></li>
        <li class="nav-item"><a href="/cloth/" class="nav-link">Одежда</a></li>
        <li class="nav-item"><a href="/shoes/" class="nav-link">Обувь</a></li>
        <li class="nav-item"><a href="/jacket/" class="nav-link">Куртки</a></li>
    </ul>
    <div class="row">
        <h1 style="text-align: center">Куртки</h1>
        <p align="center"><img src="/static/img/jacket1.jpg" alt="Моё фото" width="400"></p>
        <p style="text-align: center">Косуха обязана своим появлением братьям Schott, которые жили в Америке,
            но были выходцами из России. Эти братья создали куртку на молнии, полюбившуюся огромному числу
            покупателей во многих странах мира.</p>
    </div>
    <div>
        <hr>
        <p>Все права защищены &copy;</p>
    </div>
</div>
</body>
</html>