<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
</head>
<body>
<div>
    <ul>
        <li class="nav-item"><a href="/main/" class="nav-link">Основная</a></li>
        <li class="nav-item"><a href="/cloth/" class="nav-link">Одежда</a></li>
        <li class="nav-item"><a href="/shoes/" class="nav-link">Обувь</a></li>
        <li class="nav-item"><a href="/jacket/" class="nav-link">Куртки</a></li>
    </ul>
    <div class="row">
        <h1>Привет, меня зовут Андрей</h1>
        <img src="/static/img/side-view-student-reading-book.jpg" alt="Моё фото" width="300">
    </div>
    <div>
        <hr>
        <p>Все права защищены &copy;</p>
    </div>
</div>
</body>
</html>